In [2]:
import pandas as pd

In [6]:
# read the file
oo=pd.read_csv("data/olympics.csv" , skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

<h1 style="color:red"> Challenge 1</h1>

### 1.In which event did Jesse Owens win a medal?

In [24]:
jess_oo= oo[oo.Athlete == 'OWENS, Jesse'] # display all columns 
jess_oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

In [26]:
jess_oo.Event.value_counts()

200m            1
long jump       1
100m            1
4x100m relay    1
Name: Event, dtype: int64

### 2. Which country has the most men's gold medals in singles badminton over the years? Sort the result alphabetically by players's names.

<h3 style="color:red">solution 1</h3>

In [43]:
singles_badminton= oo[oo.Sport=='Badminton']
singles_badminton

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20027,Barcelona,1992,Badminton,Badminton,"LI, Yongbo",CHN,Men,doubles,M,Bronze
20028,Barcelona,1992,Badminton,Badminton,"SIDEK, Rashid",MAS,Men,doubles,M,Bronze
20029,Barcelona,1992,Badminton,Badminton,"SIDEK, Razif",MAS,Men,doubles,M,Bronze
20030,Barcelona,1992,Badminton,Badminton,"TIAN, Bingyi",CHN,Men,doubles,M,Bronze
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
...,...,...,...,...,...,...,...,...,...,...
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
27742,Beijing,2008,Badminton,Badminton,"LEE, Chong Wei",MAS,Men,singles,M,Silver
27743,Beijing,2008,Badminton,Badminton,"YULIANTI, Maria Kristin",INA,Women,singles,W,Bronze
27744,Beijing,2008,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold
27745,Beijing,2008,Badminton,Badminton,"XIE, Xingfang",CHN,Women,singles,W,Silver

In [44]:
gold = singles_badminton[singles_badminton.Medal =='Gold']
gold

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
20039,Barcelona,1992,Badminton,Badminton,"CHUNG, So-Young",KOR,Women,doubles,W,Gold
20040,Barcelona,1992,Badminton,Badminton,"HWANG, Hae-Young",KOR,Women,doubles,W,Gold
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
20049,Barcelona,1992,Badminton,Badminton,"SUSANTI, Susi",INA,Women,singles,W,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
21780,Atlanta,1996,Badminton,Badminton,"GE, Fei",CHN,Women,doubles,W,Gold
21781,Atlanta,1996,Badminton,Badminton,"GU, Jun",CHN,Women,doubles,W,Gold
21782,Atlanta,1996,Badminton,Badminton,"GIL, Young-Ah",KOR,Women,doubles,X,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
21790,Atlanta,1996,Badminton,Badminton,"BANG, Soo-Hyun",KOR,Women,singles,W,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
23710,Sydney,2000,Badminton,Badminton,"GE, Fei",CHN,Women,doubles,W,Gold
23711,Sydney,2000,Badminton,Badminton,"GU, Jun",CHN,Women,doubles,W,Gold
23712,Sydney,2000,Badminton,Badminton,"GAO, Ling",CHN,Women,doubles,X,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
23720,Sydney,2000,Badminton,Badminton,"GONG, Zhichao",CHN,Women,singles,W,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
25727,Athens,2004,Badminton,Badminton,"YANG, Wei",CHN,Women,doubles,W,Gold
25728,Athens,2004,Badminton,Badminton,"ZHANG, Jiewen",CHN,Women,doubles,W,Gold
25729,Athens,2004,Badminton,Badminton,"GAO, Ling",CHN,Women,doubles,X,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
25737,Athens,2004,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27734,Beijing,2008,Badminton,Badminton,"DU, Jing",CHN,Women,doubles,W,Gold
27735,Beijing,2008,Badminton,Badminton,"YU, Yang",CHN,Women,doubles,W,Gold
27736,Beijing,2008,Badminton,Badminton,"LEE, Hyojung",KOR,Women,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
27744,Beijing,2008,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold

In [45]:
men = gold[gold.Gender == 'Men']
men

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold

In [46]:
sort = men.NOC.value_counts()
sort

INA    8
KOR    6
CHN    4
DEN    1
Name: NOC, dtype: int64

<h3 style="color:red">solution 2</h3>

In [53]:
gbm = oo[(oo.Medal=="Gold") & (oo.Sport=="Badminton") & (oo.Gender=="Men")]  
gbm.sort_values(by='Athlete')

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold

In [55]:
gbm.NOC.value_counts()

INA    8
KOR    6
CHN    4
DEN    1
Name: NOC, dtype: int64

### 1. Which three countries have won the most medals in recent years from 1984 to 2008?

### 2. Display the male gold medal winner for the 100m track and field spint event over the years